body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslategrey;
}

h1 {
    font-size: 100px;
    font-family: Montserrat;
}

.letter {
    transition: color 1000ms;
}
